.about {
  padding: 0;
  margin: 0;
  padding: 119px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  margin: 0;
  width: 100%;
  max-width: 251px;
  z-index: 1;
  position: relative;
  line-height: 52px;
}

.about__content {
  margin: 0;
  max-width: 660px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  max-width: 426px;
  width: 100%;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
