.header {
  min-height: 720px;
  max-height: 800px;
  display: flex;
  height: 100vh;
  position: relative;
  flex-direction: column;
  padding: 30px 80px 40px;
  z-index: 1;
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  width: 100%;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  max-width: 683px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__image {
  z-index: -1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__paragraph {
  margin: 0;
}
