.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 20px;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #1f69c9;
}
