.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  min-height: 720px;
  max-height: 800px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 20px;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 20px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
}
.header__image {
  z-index: 1;
  display: flex;
  position: absolute;
  max-width: 636px;
  top: 135px;
  right: 20px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.recipes__videos {
  gap: 100px;
  margin-top: 224px;
  display: flex;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 215px;
  color: white;
}
